@import '../../common.scss';

.project {
	flex-basis: 100%;
	padding: .25em;

	.project-img {
		overflow: hidden;
		margin-bottom: .5em;

		a {
			display: block;
			position: relative;
			font-size: 0;
		}

		a:hover {
			opacity: 1;
		}

		a:hover::before {
			content: "View Source Code";
			font-size: 1rem;
			color: #fff;
			display: flex;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
    		background: rgba(0,0,0,.75);
    		justify-content: center;
    		align-items: center;
		}
	}

	.project-name {
		font-weight: bold;
		margin-bottom: .25em;
	}

	.project-links {
		flex-grow: 1;
		align-items: flex-end;
		justify-content: center;

		a {
			padding: .25em;

			img {
				max-width: 64px;
			}
		}
	}
}

@media screen and (min-width: $tablet-breakpoint) {
	.project {
		flex-basis: 50%;
	}
}

@media screen and (min-width: $desktop-breakpoint) {
	.project {
		flex-basis: 33%;
	}
}