@import '../../common.scss';

.content {
	min-height: 100vh;
	padding-bottom: 87px;
}

.footer {
	padding: .5em 1em;
	color: #fff;
}

@media screen and (min-width: $tablet-breakpoint) {
	.content {
		padding-bottom: 0;
	}
}