@import '../../common.scss';

.content {
	min-height: 100vh;
	padding-top: 10px;
	padding-bottom: 87px;
}

.about-img {
	flex-basis: 100%;
	padding: 1em;
}
.about-content {
	flex-basis: 100%;
}

.project-container {
	justify-content: center;
}

.experience-content {

	ul {
		max-height: 100px;
	}
}

.experience-left {
	flex-basis: 100%;
}
.experience-right {
	flex-basis: 100%;
}

@media screen and (min-width: $tablet-breakpoint) {
	.experience-left {
		flex-basis: 50%;
	}
	.experience-right {
		flex-basis: 50%;
	}	
}

.contact-icons {
	justify-content: center;
}

.footer {
	padding: .5em 1em;
	color: #fff;
	background-color: #000;

	button {
		font-size: 1.5em;
		color: #fff;
		background: transparent;
		border: 0;
		margin: 0;
		padding: 0;

		.button-text {
			font-size: .5em;
		}
	}
	button:focus {
		outline: 0;
	}
}

@media screen and (min-width: $tablet-breakpoint) {
	.content {
		padding-bottom: 0;
	}
}

@media screen and (min-width: $desktop-breakpoint) {
	.about-img {
		flex-basis: 50%;

		&-facts {
			display: block;
			margin-top: 1em;

			ul {
				margin: .5em 0 0;
			}
		}
	}

	.about-content {
		flex-basis: 50%;
	}
}