@import '../../common.scss';

.navigation {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	align-items: flex-end;

	&-item {
		font-size: 1.5em;
		width: 25%;

		button {
			display: block;
			width: 100%;
			font-size: 1em;
			background-color: transparent;
			border: 0;
			color: $link-color;
			padding: 0;
			margin: 0;

			.navigation-text {
				font-size: .325em;
				text-transform: uppercase;
			}

			a {
				display: block;
				padding: 1em .25em;
				text-decoration: none;
				color: $link-color;
			}
		}

		button:focus {
			outline: 0;
		}
	}
}

@media screen and (min-width: $tablet-breakpoint) {
	.navigation {
		height: 100%;
		top: 0;
		z-index: 1;
		width: 10%;
		align-items: flex-end;
		flex-direction: column;
	
		&-item {
			//border-top-left-radius: .25em;
			//border-bottom-left-radius: .25em;
			width: 100%;
			max-width: 100px;
		}
	
		/*&-item.active {
	
			button {
				a {
					padding-bottom: 3em;
				}
			}
		}*/
	}
}