@import '../../common.scss';

.section {
	background-color: $section-bg-color;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 2em 0;

	&-content {
		width: 80%;
		max-width: 1200px;
		margin: 0 auto 0 10%;
		padding: 1em 2em;
		overflow: auto;
		background-color: #fff;
		box-shadow: 2px 2px 2px rgba(0,0,0,.25);
	}
}