$body-bg-color: #000;
$text-color: #000;
$reverse-text-color: #fff;
$link-color: #fff;
$active-link-color: #2196f3;
$section-bg-color: #78909C;
$section-container-bg-color: #fafafa;
$button-bg-color: transparent;
$button-border-color: #9E9E9E;
$button-text-color: #000;

$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

$font: Helvetica, sans-serif;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: $body-bg-color;
	color: $text-color;
	margin: 0;
	padding: 0;
	font-family: $font;
}

html, body {
	overscroll-behavior: none;
}

h3 {
	margin: .5em 0;
}

img {
	max-width: 100%;
}

button {
	font-size: 1em;
	padding: .5em 1.5em;
	margin-top: 1em;
	margin-bottom: 1em;
	border-radius: .25em;
	text-transform: uppercase;
	background-color: $button-bg-color;
	border: 1px solid $button-border-color;

	a {
		text-decoration: none;
		color: $button-text-color;
	}
}

a:hover, button:hover {
	opacity: .75;
	cursor: pointer;
}

.flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-100 {
	flex-basis: 100%;
}

.flex-50 {
	flex-basis: 50%;
}

.flex-33 {
	flex-basis: 33%;
}

.flex-grow {
	flex-grow: 1;
}

.space-around {
	justify-content: space-around;
}

.v-align-center {
	align-items: center;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.w-100 {
	width: 100%;
}

.slide-enter {
	top: -100vh;
}
.slide-enter-active {
	top: 0;
	transition: all 500ms ease-out;
}
.slide-exit {
	top: 0;
}
.slide-exit-active {
	top: -100vh;
	transition: all 500ms ease-in;
}
.slide-exit-done {
	top: -100vh;
}

.lockScroll-enter {
	height: 100vh;
	overflow: hidden;
}
.lockScroll-enter-active {
	height: 100vh;
	overflow: hidden;
}
.lockScroll-enter-done {
	height: auto;
	overflow: auto;
}
.lockScroll-exit {
	height: auto;
	overflow: auto;
}
.lockScroll-exit-active {
	height: 100vh;
	overflow: hidden;
}
.lockScroll-exit-done {
	height: 100vh;
	overflow: hidden;
}

.fade-enter {
	opacity: 0;
	transform: scale(.99);
}
.fade-enter-active {
	opacity: 100;
	transform: scale(1);
	transition: all 250ms ease-in 500ms;
}
.fade-enter-done {
	opacity: 100;
}
.fade-exit {
	opacity: 100;
}
.fade-exit-active {
	opacity: 0;
	transition: all 250ms ease-out;
}
.fade-exit-done {
	opacity: 0;
}