@import '../../common.scss';

.banner {
	background-image: url(/local/banner.jpg);
	background-color: #000;
	background-size: cover;
	background-position: center center;
	color: $reverse-text-color;
	overflow: hidden;
	position: relative;
	z-index: 2;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	&-content {
		overflow: auto;
		text-shadow: 2px 2px 2px rgba(0,0,0,.5);
		position: relative;
		z-index: 2;

		h1 {
			font-size: 2.5em;
			margin-bottom: .25em;
		}

		h2 {
			font-size: 1.25em;
		}

		button {
			background: transparent;
			padding: 0;
			border: 0;
			color: $reverse-text-color;
			font-size: 2em;

			svg {
				filter: drop-shadow(2px 2px 2px rgba(0,0,0,.5));
			}
		}

		button:focus {
			outline: 0;
		}
	}

}

.banner::before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
}

@media screen and (min-width: $tablet-breakpoint) {
	.banner {

		&-content {
	
			h1 {
				font-size: 3em;
			}
	
			h2 {
				font-size: 1.5em;
			}
		}
	}
}