@import '../../common.scss';

.banner {
	background-image: url(/images/sd-fpo.jpg);
	background-size: cover;
	background-position: center center;
	color: #fff;
	overflow: hidden;
	position: relative;
	z-index: 2;

	&-content {
		overflow: auto;

		button {
			background: transparent;
			padding: 0;
			border: 0;
			color: #fff;
			font-size: 2em;
		}

		button:focus {
			outline: 0;
		}
	}
}