@import '../../common.scss';

.icon-header {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2em 0 .5em;

	svg {
		font-size: 1.75em;
		width: 1em !important;
		height: 1em !important;
	}

	&-text {
		font-size: 1.25em;
		font-weight: bold;
		margin-left: .25em;
	}
}